MANIFEST.in
Makefile
README.rst
distribute_setup.py
setup.py
skeleton/__init__.py
skeleton/examples/__init__.py
skeleton/examples/basic-package/MANIFEST.in
skeleton/examples/basic-package/README.rst
skeleton/examples/basic-package/distribute_setup.py
skeleton/examples/basic-package/setup.py_tmpl
skeleton/examples/basicpackage.py
skeleton/tests/__init__.py
skeleton/tests/run.py
skeleton/tests/skeletons/dynamic-content/bar/baz.txt_tmpl
skeleton/tests/skeletons/dynamic-content/foo.txt
skeleton/tests/skeletons/dynamic-file-name/bar/${baz}.txt
skeleton/tests/skeletons/dynamic-file-name/foo.txt
skeleton/tests/skeletons/static/bar/baz.txt
skeleton/tests/skeletons/static/foo.txt
skeleton/tests/testbasicpackage.py
skeleton/tests/testdefaulttemplate.py
skeleton/tests/testskeleton.py
skeleton/tests/testvar.py
skeleton/utils.py
